/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  margin: 0;
  background-image: url('../images/fresh_snow.png')

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', 'Georgia', Times, serif;
}

/* Header CSS */
header {
  background: #ffffff;
  border-bottom: #cccccc 3px solid;
  width: 100%;
}

header a {
  color: #888888;
  text-decoration: none;
}

header h1 {
  background: #4aaaa5;
  color: white;
  width: 200px;
  padding: 20px 30px;
  margin: 0 90px;
  text-align: center;
  white-space: nowrap;
}

header ul {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  right: 100px;
  margin-right: 100px;
  margin-top: 25px;
  list-style: none;
}

header ul li {
  display: inline;
  margin: 15px;
}

.li-vertical-borders {
  border-left: rgba(200,200,200,.6) 1px solid;
  border-right: rgba(200,200,200,.6) 1px solid;
  padding: 20px;
}

/* Main Content CSS */

.main-content {
  background: #ffffff;
  width: 66%;
  margin: 30px;
  padding: 20px;
  border: 1px solid #dddddd;
}

.main-content h1 {
  color: #4aaaa5;
  border-bottom: #dddddd 2px solid;
  padding-bottom: 15px;
}

/* Main Content Aside */
aside {
  background: #ffffff;
  width: 20%;
  padding: 20px;
  border: 1px solid #dddddd;
}

aside h3 {
  color: #4aaaa5;
}

/* Footer CSS */

footer {
  background: #666666;
  text-align: center;
  position:fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: #4aaaa5 8px solid;
  padding: 20px;
}

.footer-p {
  font-weight: 100;
  color: #CCCCCC;
  font-size: .7rem;
}
